In [1]:
import FinanceDataReader as fdr
from pykrx import stock
import pandas_datareader.data as pdr
import yfinance as yf

In [2]:
# 가장 최근 영업일의 시장별 종목리스트를 가져옴
stocks = fdr.StockListing('KRX') # 코스피, 코스닥, 코넥스 전체
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,83900,1,900,1.08,84200,84700,83400,15724643,1322155758898,500864755945000,5969782550,STK
1,000660,KR7000660001,SK하이닉스,KOSPI,,205000,3,0,0.00,208500,209500,200500,5966160,1222505061408,149240484825000,728002365,STK
2,373220,KR7373220003,LG에너지솔루션,KOSPI,,326000,2,-2500,-0.76,330500,333500,324000,152441,49936124500,76284000000000,234000000,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,848000,3,0,0.00,852000,865000,845000,73155,62318104000,60355552000000,71174000,STK
4,005380,KR7005380001,현대차,KOSPI,,263500,1,8500,3.33,258000,264500,257500,802546,210546345500,55181166328500,209416191,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,002995,KR7002991008,금호건설우,KOSPI,,10140,2,-110,-1.07,10260,10260,10080,1959,19814330,2963577240,292266,STK
2816,032685,KR7032681009,소프트센우,KOSDAQ,중견기업부,8050,1,100,1.26,8000,8100,8000,3557,28636060,2874993100,357142,KSQ
2817,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1500,1,1,0.07,1500,1500,1500,1,1500,2369940000,1579960,KNX
2818,236030,KR7236030003,씨알푸드,KONEX,일반기업부,989,1,69,7.50,920,1057,782,5500,4598553,2010965348,2033332,KNX
2819,308700,KR7308700004,테크엔,KONEX,일반기업부,199,0,0,0.00,0,0,0,0,0,796000000,4000000,KNX

In [3]:
# KRX stock delisting symbol list 상장폐지 종목 전체 리스트
krx_delisting = fdr.StockListing('KRX-DELISTING')
krx_delisting

,Symbol,Name,Market,SecuGroup,Kind,ListingDate,DelistingDate,Reason,ArrantEnforceDate,ArrantEndDate,Industry,ParValue,ListingShares,ToSymbol,ToName
0,028740,경성전기,KOSPI,주권,,1956-03-03,1961-06-30,상장폐지유예기간종료,NaT,NaT,,NaN,NaN,,
1,028730,남선전기,KOSPI,주권,,1956-03-03,1961-06-30,상장폐지유예기간종료,NaT,NaT,,NaN,NaN,,
2,034380,조선맥주,KOSPI,주권,,1956-10-01,1960-11-26,상장폐지유예기간종료,NaT,NaT,,NaN,NaN,,
3,028720,수도극장,KOSPI,주권,,1957-07-01,1960-11-21,상장폐지유예기간종료,NaT,NaT,,NaN,NaN,,
4,028750,한국운수,KOSPI,주권,,1956-03-03,1962-01-04,상장폐지유예기간종료,NaT,NaT,,NaN,NaN,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3737,72502BA2,신한소재부품장비C1,KOSPI,수익증권,보통주,2020-04-29,2024-01-04,수익증권 신탁기간의 만료 또는 전액 중도 환수,NaT,NaT,,1000.0,5592200.0,047190,신한자산운용
3738,70101BA2,한투소재부품장비A,KOSPI,수익증권,보통주,2020-04-27,2024-01-04,수익증권 신탁기간의 만료 또는 전액 중도 환수,NaT,NaT,,1000.0,22440318.0,047240,한국투자신탁운용
3739,70102BA2,한투소재부품장비C,KOSPI,수익증권,보통주,2020-04-27,2024-01-04,수익증권 신탁기간의 만료 또는 전액 중도 환수,NaT,NaT,,1000.0,876917.0,047240,한국투자신탁운용
3740,141020,디에스앤엘,KOSDAQ,주권,보통주,2013-01-29,2024-01-03,기업의 계속성 및 경영의 투명성 등을 종합적으로 고려하여 상장폐지기준에 해당한다고 결정,2023-12-20,2024-01-02,유통,500.0,11700533.0,,
3741,380440,엔에이치스팩19호,KOSPI,주권,보통주,2021-05-21,2024-01-02,SPAC 상장예비심사청구서 미제출 등,2023-12-19,2023-12-28,기타금융,500.0,10258000.0,,

In [4]:
tickers = stock.get_market_ticker_list("20190225", market="KOSDAQ")
print(tickers)

['060310', '054620', '265520', '211270', '035760', '051500', '058820', '023460', '065770', '083660', '306620', '068790', '241520', '245620', '037370', '079190', '130500', '032860', '900290', '083450', '028150', '045890', '078150', '036640', '299170', '254120', '264850', '276920', '297570', '095340', '099520', '950170', '067290', '035900', '024120', '021320', '036670', '044180', '151860', '046440', '035600', '060720', '083470', '122450', '052900', '058400', '114450', '036030', '060370', '065150', '219550', '160550', '053290', '104200', '060250', '030190', '024940', '218410', '091340', '019550', '950110', '046140', '036120', '099220', '036540', '255220', '040610', '049470', '184230', '232330', '307070', '057500', '178920', '036490', '052260', '048550', '063440', '289080', '089230', '161570', '032540', '048770', '038340', '073570', '052300', '040300', '051390', '052220', '079940', '078890', '192410', '024840', '217730', '094480', '063080', '039240', '053950', '011040', '024910', '198440', '049720', '014570', '098460', '038530', '307870', '900280', '215000', '121440', '014200', '026910', '090150', '267320', '307280', '053270', '066620', '043650', '006050', '060480', '078130', '019010', '900070', '204620', '019660', '053260', '036190', '049080', '035460', '187790', '151910', '121600', '039860', '091970', '051490', '190510', '242040', '089600', '293580', '138610', '130580', '036800', '111710', '091590', '168330', '072770', '253590', '212560', '095660', '042420', '085910', '092730', '290660', '153460', '007390', '033640', '087730', '089140', '065170', '139670', '137940', '041140', '217270', '225570', '104620', '194700', '285490', '144510', '031390', '142280', '065560', '054050', '040160', '069140', '126870', '060260', '012340', '270870', '222040', '144960', '900100', '085670', '119860', '064260', '093640', '039560', '032190', '068240', '020400', '008830', '048470', '004780', '017650', '007720', '290670', '078140', '036480', '025440', '027830', '104040', '262830', '303030', '307750', '020180', '045390', '108380', '006580', '007680', '048910', '005710', '290380', '290120', '071460', '120240', '003310', '078600', '065690', '096350', '140520', '131220', '010170', '054670', '023910', '021040', '021045', '067080', '192080', '035290', '213420', '077360', '090410', '263600', '194480', '263800', '139050', '017680', '206560', '067990', '006620', '100130', '005160', '075970', '086450', '099410', '281740', '033500', '025950', '088130', '041930', '060380', '079960', '228340', '104460', '088910', '094170', '013120', '109860', '032960', '023790', '005290', '025900', '078590', '073190', '030350', '203650', '217620', '187870', '066670', '110990', '263690', '214680', '263720', '109740', '033430', '090710', '131030', '196490', '066900', '127120', '092070', '101000', '134580', '039840', '079810', '227100', '113810', '043360', '197140', '106520', '068930', '033130', '033310', '105740', '263020', '290550', '187220', '131180', '042510', '050120', '171120', '069540', '171010', '084650', '217500', '141080', '060300', '038390', '228850', '238120', '215100', '090360', '108490', '900260', '067730', '071280', '038060', '082800', '085370', '08537M', '060240', '058470', '039980', '016100', '197210', '012700', '131100', '277070', '042500', '219420', '098120', '227950', '147760', '035480', '038290', '267980', '005990', '127160', '093520', '141070', '100590', '067280', '072870', '215200', '133750', '041920', '086900', '078160', '065650', '021880', '140410', '241770', '059210', '058110', '096640', '257370', '149940', '080420', '080160', '100030', '087260', '101330', '250060', '033200', '118990', '006920', '001810', '028040', '095500', '218150', '265480', '310200', '239340', '049950', '213090', '207760', '059090', '201490', '214180', '206640', '018700', '035620', '064520', '029480', '053030', '084990', '064550', '208710', '142760', '065940', '086820', '038460', '044480', '086040', '032980', '043150', '267790', '046310', '036620', '066410', '177350', '299910', '225530', '250000', '014100', '006910', '226340', '014470', '008470', '100120', '066980', '064480', '251630', '033560', '121800', '148140', '200780', '141000', '090460', '083650', '086670', '138580', '082920', '054220', '042370', '032850', '238200', '093190', '065450', '072950', '143240', '100090', '122350', '014970', '018310', '053700', '009620', '023600', '111870', '309930', '291230', '009300', '225190', '054540', '065570', '082660', '073640', '032280', '002290', '037460', '032750', '054090', '000250', '024950', '038500', '017480', '046390', '027580', '038540', '091580', '263810', '089980', '042940', '042600', '263540', '038070', '006730', '079650', '100660', '012860', '019770', '043710', '046890', '063170', '027040', '018680', '093920', '189860', '178320', '122690', '140070', '011370', '065710', '035890', '003100', '123420', '171090', '014620', '037350', '081580', '045300', '015750', '080470', '043260', '053060', '017510', '214310', '011560', '100700', '234100', '024830', '258830', '036630', '039310', '067770', '053450', '252500', '049180', '299660', '268600', '108860', '208370', '068760', '091990', '053110', '032680', '032685', '066910', '043100', '154040', '035610', '036830', '230980', '086980', '050960', '084180', '058530', '236200', '094840', '192440', '099440', '033790', '159910', '115570', '253450', '008800', '013810', '049830', '020710', '033170', '048870', '025320', '269620', '131090', '001000', '025870', '215600', '065350', '056000', '002800', '307180', '017000', '012790', '138070', '257730', '277480', '056700', '187270', '243840', '108320', '222800', '036710', '160980', '217330', '010280', '122800', '208640', '222420', '037760', '136510', '099320', '049960', '050890', '066790', '222080', '264660', '115530', '225330', '115480', '096530', '900120', '101240', '047920', '060590', '036170', '260930', '013990', '123860', '025980', '058220', '052710', '074430', '092040', '083930', '149950', '036010', '050860', '246720', '067390', '127710', '154030', '227610', '143160', '054800', '060570', '099190', '214430', '040910', '068940', '052860', '069920', '038880', '101390', '226350', '078860', '114810', '031310', '185490', '059100', '175250', '052460', '119830', '124500', '027360', '032080', '013310', '059120', '023890', '067160', '001540', '053800', '065660', '260660', '131370', '140670', '096610', '061040', '148250', '196170', '123750', '085810', '117670', '196300', '205500', '052790', '131400', '290740', '238090', '092600', '174900', '255440', '030960', '102120', '041590', '019990', '041440', '038680', '217480', '121890', '030270', '097780', '073070', '042110', '065420', '103230', '900080', '101490', '095910', '275630', '031330', '060540', '112240', '056190', '080000', '160600', '263920', '041510', '007820', '109610', '080440', '096630', '069510', '041910', '234300', '039440', '098660', '052020', '237690', '050760', '288620', '058610', '043340', '054630', '200710', '298380', '003800', '088800', '138360', '039230', '050320', '072990', '176440', '028300', '067630', '043220', '239610', '044780', '033600', '071670', '045660', '224110', '021080', '089530', '182400', '109960', '089970', '214870', '230240', '064510', '230360', '038870', '128540', '086520', '038110', '073540', '064090', '036810', '173940', '083500', '065160', '054940', '950130', '205100', '092870', '067570', '101400', '217820', '031860', '256630', '256840', '273060', '310840', '208860', '183490', '206400', '069410', '048830', '096870', '061970', '138690', '290650', '066970', '156100', '073110', '083310', '037950', '170920', '058630', '019590', '097520', '179290', '009780', '123040', '032790', '033160', '204020', '259630', '115960', '090740', '007530', '143540', '036180', '036560', '265560', '036000', '053280', '122640', '900300', '045060', '080520', '039830', '046120', '014940', '065500', '010470', '053980', '052420', '241790', '039200', '226400', '031510', '048260', '138080', '080580', '067170', '173130', '049480', '226950', '057540', '057680', '123010', '082210', '109080', '153710', '052770', '057030', '122990', '232140', '067900', '155650', '251370', '066430', '193250', '019210', '122870', '079000', '114630', '032820', '041190', '115440', '046970', '215360', '072470', '073560', '153490', '082850', '037400', '101170', '066590', '046940', '215380', '065680', '018620', '032940', '240810', '074600', '104830', '014190', '030530', '012620', '008370', '008290', '101160', '095270', '065950', '114190', '076080', '196700', '069080', '053580', '044340', '112040', '038620', '299900', '036090', '136540', '097800', '192390', '900340', '036200', '018000', '203450', '011320', '086390', '241690', '142210', '048430', '206650', '089850', '032620', '264450', '078070', '024800', '054930', '069330', '049520', '287410', '056090', '263770', '195990', '023410', '056080', '084370', '178780', '179900', '263050', '191410', '039020', '060230', '067920', '044960', '302430', '073490', '215790', '246960', '088390', '272290', '053350', '258610', '033110', '041520', '054210', '065440', '036260', '115610', '078020', '080010', '086890', '047560', '900110', '067010', '223310', '052190', '226360', '102710', '094190', '063760', '123570', '095190', '091120', '039030', '088290', '181340', '035810', '090850', '092130', '016250', '096040', '134060', '001840', '024810', '041830', '079950', '277410', '060150', '033230', '037330', '083640', '216050', '049070', '119610', '158310', '017250', '108790', '035080', '051370', '064290', '189300', '150840', '048530', '175140', '115310', '039290', '041020', '071200', '101930', '078940', '068330', '058450', '019540', '094820', '950140', '049550', '043910', '234920', '174880', '049630', '110020', '065530', '208140', '022220', '040420', '045510', '065620', '217190', '095700', '072520', '122310', '187420', '123330', '159580', '147830', '033100', '019570', '079370', '054950', '096690', '090470', '137950', '033320', '026040', '126880', '033050', '094970', '058420', '036420', '089790', '052670', '023440', '038010', '080220', '082270', '044060', '034940', '101730', '067000', '033340', '036930', '051980', '072020', '000440', '054180', '043610', '263860', '208350', '114570', '051160', '053050', '119850', '065060', '204840', '018290', '111820', '106080', '115450', '219750', '018120', '109820', '086060', '036890', '007370', '085660', '900040', '094850', '004650', '278280', '096240', '013720', '066360', '047820', '094360', '016920', '042000', '071850', '180400', '050110', '900310', '078340', '263700', '214370', '221980', '043290', '250930', '258790', '192250', '115500', '089150', '025880', '093320', '073010', '105330', '039420', '083550', '032500', '225430', '064820', '256940', '024880', '042040', '054410', '217600', '089010', '220260', '052400', '094860', '046070', '047770', '080530', '224060', '078650', '104540', '027050', '101670', '123410', '036690', '049430', '183300', '041960', '089890', '009730', '241710', '069110', '166480', '045970', '029960', '102940', '950160', '033290', '056360', '121850', '015710', '052330', '126600', '200130', '225650', '060280', '040350', '051780', '115180', '182360', '066310', '016600', '043590', '114120', '110790', '083790', '900250', '045520', '214150', '237880', '311270', '054780', '219130', '065130', '023160', '053620', '044490', '191420', '182690', '066700', '095610', '131970', '089030', '054450', '091440', '196450', '200230', '215480', '051360', '045340', '057880', '108230', '079970', '105550', '026150', '117730', '033830', '064760', '246710', '131290', '246690', '062860', '104480', '081150', '130740', '084730', '046210', '034230', '033540', '043200', '214450', '208340', '177830', '037070', '150900', '037030', '047310', '170790', '049120', '038950', '106240', '131760', '140860', '091700', '194510', '038160', '032800', '043090', '027710', '225590', '054300', '068050', '222110', '060900', '263750', '087010', '043370', '119500', '016670', '056730', '022100', '009520', '003670', '189690', '141020', '290720', '005670', '094940', '007330', '093380', '023900', '195440', '214270', '220100', '035200', '203690', '053610', '053160', '075130', '023770', '032580', '051380', '241820', '237750', '131390', '054340', '024850', '031980', '002230', '137400', '128660', '006140', '087600', '064800', '161580', '270520', '284620', '261200', '067310', '307160', '166090', '136480', '003380', '149980', '013030', '126700', '200470', '221840', '106190', '066130', '004590', '039340', '034950', '222980', '025550', '017890', '080720', '063570', '041460', '101680', '039740', '053300', '025770', '271740', '281410', '291210', '310870', '023760', '054040', '050540', '021650', '053590', '037230', '030520', '052600', '092460', '222810', '039670', '047080', '070300', '221610', '070590', '226440', '042520', '078350', '045100', '046110', '024740', '005860', '123840', '007770', '079170', '086960', '054920', '215090', '077280', '002680', '066110', '265920', '264290', '279410', '102210', '220630', '034810', '076610', '220180', '900270', '170030', '048410', '016790', '026180', '039010', '204990', '092300', '053660', '011080', '060560', '064240', '039610', '126640', '086250', '204630', '061250', '134780', '123260', '097870', '050090', '290270', '205470', '115160', '028080', '200670', '065510', '243070', '084110', '145020', '024060', '010240', '189980', '037440', '238490']

In [5]:
start_date = '1975-06-11'
end_date = '2022-03-23'
 
df_fdr = fdr.DataReader('005930', start=start_date, end=end_date)
df_fdr

             Open   High    Low  Close    Volume    Change
Date
2000-03-31   6800   7070   6649   6700   1277121       NaN
2000-04-03   6920   7320   6860   7100   1136142  0.059701
2000-04-04   7000   7290   6659   6800   1166838 -0.042254
2000-04-06   6860   6960   6679   6680    944729 -0.017647
2000-04-07   6860   7260   6780   7200    847198  0.077844
...           ...    ...    ...    ...       ...       ...
2022-03-17  71200  71800  70900  71200  17646315  0.011364
2022-03-18  70600  70900  70200  70700  14410038 -0.007022
2022-03-21  70900  71000  69900  69900  11169002 -0.011315
2022-03-22  69900  70500  69900  70300   9402666  0.005722
2022-03-23  70600  71200  70300  70500  12398025  0.002845

[5424 rows x 6 columns]

In [10]:
df_fdr.index

DatetimeIndex(['2000-03-31', '2000-04-03', '2000-04-04', '2000-04-06',
               '2000-04-07', '2000-04-10', '2000-04-11', '2000-04-12',
               '2000-04-14', '2000-04-17',
               ...
               '2022-03-10', '2022-03-11', '2022-03-14', '2022-03-15',
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-21',
               '2022-03-22', '2022-03-23'],
              dtype='datetime64[ns]', name='Date', length=5424, freq=None)

In [11]:
df_fdr.loc['2018-01-12']

Open       48240.000000
High       48480.000000
Low        46760.000000
Close      48200.000000
Volume    545409.000000
Change        -0.000829
Name: 2018-01-12 00:00:00, dtype: float64

In [12]:
df_pykrx = stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                          todate=end_date,
                                          ticker="005930")
df_pykrx

               시가     고가     저가     종가       거래량       등락률
날짜
1990-01-03  44000  45000  43200  44800     26240       NaN
1990-01-04  45000  45800  44800  45300     41900  1.116071
1990-01-05  45000  45300  44300  44300     27400 -2.207506
1990-01-06  44800  45000  44500  44500     26380  0.451467
1990-01-08  44500  44900  44000  44000     14790 -1.123596
...           ...    ...    ...    ...       ...       ...
2022-03-17  71200  71800  70900  71200  17646315  1.136364
2022-03-18  70600  70900  70200  70700  14410038 -0.702247
2022-03-21  70900  71000  69900  69900  11169002 -1.131542
2022-03-22  69900  70500  69900  70300   9402666  0.572246
2022-03-23  70600  71200  70300  70500  12398025  0.284495

[8373 rows x 6 columns]

In [13]:
df_pykrx.loc['2018-01-12']

시가      48240.000000
고가      48480.000000
저가      46760.000000
종가      48200.000000
거래량    545409.000000
등락률        -0.082919
Name: 2018-01-12 00:00:00, dtype: float64